.Text-Conatiner {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20vh;
    max-width: 40vw;
    margin-left: 5vw;
}

.Text-Conatiner-1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30vh;
    max-width: 40vw;
    margin-left: 5vw;
}

.Title-text-big {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 4rem;
    color: antiquewhite;
    font-weight: 500;
}

.Title-Div {
    margin-top: 5%;
    margin-left: 10vw;
    display: flex;
    justify-content: left;
    gap: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Title-Div h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Button-tripSquare {
    background-color: #fff;
    color: #0AA84E;
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}
 
.Title-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: antiquewhite;
    font-weight: 500;
}

.Description-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: aliceblue;
    font-weight: 100;
}

.Description-text-big {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    color: aliceblue;
    font-weight: 100;
    margin-top: 30px;
}

.heading2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    color: aliceblue;
    font-weight: 100;
    margin-left: 8vw;
}

.span {
    margin-left: 5vw;
    margin-top: 5vh;
}

.black-text {
    color: black;
}

@media (max-width: 768px) {
    .Text-Conatiner {
        max-width: 100vw;
        top: 10vh;
    }
    
    .Title-text {
        font-size: 1.5rem;
    }
    
    .Title-text-big {
        font-size: 2.5rem;
    }
    
    .Description-text {
        font-size: 1rem;
    }
    
    .Text-Conatiner-1 {
        top: 15vh;
    }
}

@media (max-height: 600px) {
    .Text-Conatiner {
        top: 20vh;
    }
    
    .Text-Conatiner-1 {
        top: 25vh;
    }
    
    .Title-text-big {
        font-size: 2rem;
    }
    
    .Title-text {
        font-size: 1.5rem;
    }
    
    .Description-text {
        font-size: 0.9rem;
    }
}