.map-container {
    position: absolute;
    top: 80px;
    right: 20px;
    margin-right: 20px;
}
/* top -20px; */
/* right: +10px; */
.map-location {
    position: absolute;
    top: 260px;
    right: 130px;
    margin-left: 20px;
}

.map-location1 {
    position: absolute;
    top: 180px;
    right: 320px;
    margin-left: 20px;
}

.map-location2 {
    position: absolute;
    top: 240px;
    right: 178px;
    margin-left: 20px;
}

.map-location3 {
    position: absolute;
    top: 430px;
    right: 330px;
    margin-left: 20px;
}

.map-location4 {
    position: absolute;
    top: 390px;
    right: 350px;
    margin-left: 20px;
}

.map-location5 {
    position: absolute;
    top: 410px;
    right: 355px;
    margin-left: 20px;
}

.map-location6 {
    position: absolute;
    top: 370px;
    right: 320px;
    margin-left: 20px;
}

.map-location7 {
    position: absolute;
    top: 440px;
    right: 260px;
    margin-left: 20px;
}

.map-location8 {
    position: absolute;
    top: 160px;
    right: 320px;
    margin-left: 20px;
}

.pin {
    justify-content: center;
    align-items: center;
    display: flex;
}

.pin:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.pin:hover .location-name {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.location-name {
    font-size: x-small;
    position: relative;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    margin: 0px;
    padding: 0px;
}