.main-content {
    display: flex;
    margin: 2% 5vw;
    height: auto;
    gap: 1vw;
}

.Details-Trip {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
}